<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Review Detail</title>
</head>
<body class="d-flex flex-column">
<section layout:fragment="body">
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder" th:text="${review.movie}"></h1>
                <p class="lead mb-0" th:text="'Reviewed by ' + ${review.user.username}"></p>
            </div>
        </div>
    </header>
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                <!-- Featured blog post-->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="small text-muted" th:text="${review.rating}"></div>
                        <h2 class="card-title">Summary</h2>
                        <p class="card-text" th:text="${review.comment}"></p>
                        <a class="btn btn-primary" th:href="@{/reviews/{reviewId}/delete(reviewId=${reviewId})}">Delete</a>
                        <a class="btn btn-primary" th:href="@{/reviews/{reviewId}/edit(reviewId=${reviewId})}">Edit</a>
                    </div>
                </div>
                <!-- Pagination-->
                <nav aria-label="Pagination">
                    <hr class="my-0" />
                    <ul class="pagination justify-content-center my-4">
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                        <li class="page-item"><a class="page-link" href="#!">2</a></li>
                        <li class="page-item"><a class="page-link" href="#!">3</a></li>
                        <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                        <li class="page-item"><a class="page-link" href="#!">15</a></li>
                        <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
</body>
</html>